<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tests.em_projects.com.mytestapplication">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Camera Permissions and hardware requirements -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />

    <!-- SMS Receiver -->
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />


    <application
        android:name="tests.em_projects.com.mytestapplication.MyMultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".plot.PlotActivity" />
        <activity android:name=".moving_BG.ImageCropActivity" />
        <activity android:name=".animations.MovingButtons" />
        <activity android:name=".gauges.CircularSeekBarActivity" />
        <activity android:name=".images.BigImageDisplay" />
        <activity android:name=".viewPage.ViewPagerActivity" />
        <activity android:name=".prefernces.EditablePrefList" />
        <activity android:name=".data_usage.DataUsageActivity" />
        <activity android:name=".animations.CombinedAnimAndGauge" />
        <activity android:name=".carousel.SimpleCarouselTest" />
        <activity android:name=".gauges.StatusCounterActivity" />
        <activity android:name=".widgets.CustomViewActivity" />
        <activity android:name=".moving_BG.MovingCroppedBGActivity" />
        <activity android:name=".animations.GrowBigImage" />
        <activity android:name=".ble.DeviceScanActivity" />
        <activity android:name=".animations.ChargingGaugeActivity" />
        <activity android:name=".gauges.ArcGaugeActivity" />
        <activity android:name=".powermat.PlaceTheRing" />
        <activity android:name=".gauges.ColumnsGaugeActivity" />
        <activity android:name=".gauges.ActivityFragmentColumnsGauge" />
        <activity android:name=".gauges.MultiValuesColumnGaugeActivity" />
        <activity android:name=".gauges.MultiValuesCircleActivity" />
        <activity android:name=".animations.AutoStatusCounterActivity" />

        <!-- Button Animation -->
        <activity android:name=".animations.AnimatedImageButton" />

        <!-- Sample of using Camera API -->
        <activity android:name=".camera.photo.ApiCameraActivity" />

        <!-- Activity Recognized -->
        <activity
            android:name=".activity_recognition.ActivityRecognizedActivity"
            android:screenOrientation="portrait" />
        <service android:name=".activity_recognition.ActivityRecognizedService" />

        <!-- Screen adjust for keyboard -->
        <activity
            android:name=".adjustResize.AdjustResizeActivity"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden" />

        <!-- Notification -->
        <activity android:name=".notifications.TwoLinesNotificationViewActivity" />
        <activity android:name=".notifications.NewTwoLinesNotificationViewActivity" />

        <service android:name=".notifications.NewTwoLinesNotificationViewService" />
        <activity android:name=".notifications.IconWithBadgeActivity" />

        <!-- Layout Animation -->
        <activity android:name=".layout_anim.LayoutAnimTest" />

        <!-- Battery Save Mode Detector -->
        <activity android:name=".battery_save_mode_detect.BatterySafeMode_Activity" />

        <!-- Multiple Selection ListView -->
        <activity android:name=".multiple_selection_listview.ListViewMultipleSelectionActivity" />
        <activity android:name=".multiple_selection_listview.ListViewMultipleSelectionResultActivity" />

        <!-- Directories explorer -->
        <activity android:name=".directories_explorer.DirectoriesExplorerActivity" />

        <!-- Image Gallery with multiple selection -->
        <activity
            android:name=".gallery.ImageGalleryActivity"
            android:configChanges="screenLayout|screenSize|orientation" />
        <activity android:name=".gallery.ApiCameraActivity" />

        <!-- BroadcastReceiver testing area -->
        <activity android:name=".receivers.DynamicReceiverActivity" />

        <!-- SMS Receiver -->
        <!--receiver android:name=".receivers.SmsReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver-->

        <activity android:name=".json.JsonTestActivity" />

        <!-- Retrofit Activity -->
        <activity android:name=".retrofit.RetrofitDemoActivity" />
        <activity android:name=".retrofit.StackOverFlow.view.RetrofitStackoverflowMainActivity" />

        <!-- RxJava Activities -->
        <activity android:name=".rx_and.RxJavaSimpleActivity" />
        <activity android:name=".rx_and.ColorsActivity" />
        <activity android:name=".rx_and.BooksActivity" />
        <activity android:name=".rx_and.SchedulerActivity" />

    </application>

</manifest>